<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestString" value="Hello World!"/>
    <add key="TestInt" value="42"/>
    <add key="TestBoolT" value="True"/>
    <add key="TestBoolF" value="False"/>
    <add key="TestDecimal" value="42.0"/>
    <add key="TestDouble" value="42.42"/>
    <add key="TestEnum" value="Bar"/>
  </appSettings>
  <connectionStrings>
    <add name="TestName" connectionString="TestConnectionString"/>
    <add name="Hello" connectionString="World"/>
  </connectionStrings>
</configuration>